[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "~=3.4"
cookiecutter = "*"
markupsafe = "*"

[packages]

[requires]
python_version = "3.6"
