# Python
__pycache__/
/build/
/dist/
/*.egg-info/

# Editors
/.idea/

# pipenv
/.env
{% if cookiecutter.open_source == 'y' -%}
/Pipfile.lock
{%- endif %}

# pytest
/.coverage
/.pytest_cache/

# mypy
/.mypy_cache/

# tox
/.tox/

# Sphinx
/docs/_build/
