[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

bumpr = "*"
ipython = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"

[requires]

python_version = "{{cookiecutter.python_version}}"
